/* Contains the CSS for the Risk Game page */
#wrap {
	width: 1024px;
	margin: 0 auto;
}

#players div.player {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #fbfbfb 47%, #f7f7f7 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #fbfbfb), color-stop(100%, #f7f7f7));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #fbfbfb 47%, #f7f7f7 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #fbfbfb 47%, #f7f7f7 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #fbfbfb 47%, #f7f7f7 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #fbfbfb 47%, #f7f7f7 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(       startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0); /* IE6-9 */
	border: 1px solid #CCC;
	border-bottom: 10px solid #CCC;
	border-top: none;
	-webkit-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
}

/* PLAYER COLORS */
#players div.player1 {
	border-bottom-color: #a5d5a8;
}

#players div.player1.active {
	border-bottom-color: #38B00A;
}

#players div.player2 {
	border-bottom-color: #87AFC7;
}

#players div.player2.active {
	border-bottom-color: #126fc6;
}

#players div.player3 {
	border-bottom-color: #d5a5a5;
}

#players div.player3.active {
	border-bottom-color: #da0000;
}

#players div.player4 {
	border-bottom-color: #FFF68F;
}

#players div.player4.active {
	border-bottom-color: #FFF00A;
}

#players div.player5 {
	border-bottom-color: #947EC4;
}

#players div.player5.active {
	border-bottom-color: #7408BC;
}

#players div.player6 {
	border-bottom-color: #b6ebea;
}

#players div.player6.active {
	border-bottom-color: #00d7da;
}

/* MAP STYLES */
#map {
	margin-top: 20px;
	background: url('../img/riskmap.png') no-repeat;
	height: 618px;
	width: 1024px;
}

div.territory {
	position: relative;
	width: 0px;
	height: 0px;
}

div.territory form .territoryButton {
	height: 35px;
	min-width: 35px;
	margin: 25px 0px 0px 10px;
	border-radius: 50%;
	webkit-border-radius: 50%;
	background: #666;
	color: #FFF;
	text-shadow: #000 0px 0px 5px;
	font-weight: bold;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}

div.territory.player1 form {
	height: 52px;
	width: 35px;
	background: url('../img/greenPlayer.png');
}

div.territory.player1 form .territoryButton {
	background: #24c612;
}

div.territory.player2 form {
	height: 52px;
	width: 35px;
	background: url('../img/bluePlayer.png');
}

div.territory.player2 form .territoryButton {
	background: #126fc6;
}

div.territory.player3 form {
	height: 52px;
	width: 35px;
	background: url('../img/redPlayer.png');
}

div.territory.player3 form .territoryButton {
	background: #c61216;
}

div.territory.player4 form {
	height: 52px;
	width: 35px;
	background: url('../img/yellowPlayer.png');
}

div.territory.player4 form .territoryButton {
	background: #c6b312;
}

div.territory.player5 form {
	height: 52px;
	width: 35px;
	background: url('../img/purplePlayer.png');
}

div.territory.player5 form .territoryButton {
	background: #7e12c6;
}

div.territory.player6 form {
	height: 52px;
	width: 35px;
	background: url('../img/cyanPlayer.png');
}

div.territory.player6 form .territoryButton {
	background: #12c692;
}

/* TERRITORY PLACING */
div.territory.territory1 {
	top: 50px;
	left: 50px;
}

div.territory.territory2 {
	top: 120px;
	left: 150px;
}

div.territory.territory3 {
	top: 250px;
	left: 150px;
}

div.territory.territory4 {
	top: 190px;
	left: 250px;
}

div.territory.territory5 {
	left: 400px;
}

div.territory.territory6 {
	top: 60px;
	left: 180px;
}

div.territory.territory7 {
	top: 120px;
	left: 230px;
}

div.territory.territory8 {
	top: 120px;
	left: 310px;
}

div.territory.territory9 {
	top: 180px;
	left: 140px;
}

div.territory.territory10 {
	top: 500px;
	left: 250px;
}

div.territory.territory11 {
	top: 400px;
	left: 310px;
}

div.territory.territory12 {
	top: 390px;
	left: 185px;
}

div.territory.territory13 {
	top: 320px;
	left: 195px;
}

div.territory.territory14 {
	top: 410px;
	left: 475px;
}

div.territory.territory15 {
	top: 355px;
	left: 530px;
}

div.territory.territory16 {
	top: 290px;
	left: 490px;
}

div.territory.territory17 {
	top: 485px;
	left: 565px;
}

div.territory.territory18 {
	top: 305px;
	left: 400px;
}

div.territory.territory19 {
	top: 490px;
	left: 470px;
}

div.territory.territory20 {
	top: 145px;
	left: 410px;
}

div.territory.territory21 {
	top: 85px;
	left: 405px;
}

div.territory.territory22 {
	top: 155px;
	left: 465px;
}

div.territory.territory23 {
	top: 70px;
	left: 490px;
}

div.territory.territory24 {
	top: 215px;
	left: 485px;
}

div.territory.territory25 {
	top: 100px;
	left: 570px;
}

div.territory.territory26 {
	top: 220px;
	left: 425px;
}

div.territory.territory27 {
	top: 200px;
	left: 635px;
}

div.territory.territory28 {
	top: 230px;
	left: 720px;
}

div.territory.territory29 {
	top: 265px;
	left: 660px;
}

div.territory.territory30 {
	top: 125px;
	left: 795px;
}

div.territory.territory31 {
	top: 220px;
	left: 900px;
}

div.territory.territory32 {
	top: 90px;
	left: 915px;
}

div.territory.territory33 {
	top: 280px;
	left: 580px;
}

div.territory.territory34 {
	top: 185px;
	left: 810px;
}

div.territory.territory35 {
	top: 320px;
	left: 760px;
}

div.territory.territory36 {
	top: 55px;
	left: 720px;
}

div.territory.territory37 {
	top: 115px;
	left: 660px;
}

div.territory.territory38 {
	top: 70px;
	left: 825px;
}

div.territory.territory39 {
	top: 500px;
	left: 895px;
}

div.territory.territory40 {
	top: 390px;
	left: 770px;
}

div.territory.territory41 {
	top: 400px;
	left: 910px;
}

div.territory.territory42 {
	top: 490px;
	left: 780px;
}

/* SLIDER */
span.sliderContext {
	padding: 20px;
	font-weight: bold;
}

/* OPTION DIALOG */
input.optionBtn {
	width: 200px;
	margin: auto 150px;
}

a.optionBtn {
	margin: 10px 150px 20px 150px;
	width: 160px
}

/* ATTACK DIALOG */
#attackDialog form.cancelAttack, #fortifyDialog form.cancelAttack {
	display: inline;
}

#attackDialog .modal-footer, #fortifyDialog .modal-footer {
	margin-bottom: -20px;
}

/*RADIO BUTTONS*/

.modal label.radio {
	display: inline-block;
	margin: 10px;
	padding: 10px 15px 10px 30px;
	background: #CCC;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	color: #FFF;
	text-shadow: #000 0px 0px 5px;
}

.modal label.radio.owner1 {
	background: #24c612;
}

.modal label.radio.owner2 {
	background: #126fc6;
}

.modal label.radio.owner3 {
	background: #c61216;
}

.modal label.radio.owner4 {
	background: #c6b312;
}

.modal label.radio.owner5 {
	background: #7e12c6;
}

.modal label.radio.owner6 {
	background: #12c692;
}

/* ATTACK RESULTS */

h5#attackResultsMessage {
	float: left;
    font-size: 16px;
}

div.dice {
	padding: 0px 20px;
}

.dice div {
	width: 120px;
	height: 120px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: #888 0px 0px 5px;
	-webkit-box-shadow: #888 0px 0px 5px;
	-moz-box-shadow: #888 0px 0px 5px;
	margin: 10px;
	display: inline-block;
}

.attackRolls div.value1 {
	background: url("../img/diceRed.jpg");
}

.defenceRolls div.value1 {
	background: url("../img/diceWhite.jpg");
}

.attackRolls div.value2 {
	background: url("../img/diceRed.jpg") 242px 0px;
}

.defenceRolls div.value2 {
	background: url("../img/diceWhite.jpg") 242px 0px;
}

.attackRolls div.value3 {
	background: url("../img/diceRed.jpg") 120px 0px;
}

.defenceRolls div.value3 {
	background: url("../img/diceWhite.jpg") 120px 0px;
}

.attackRolls div.value4 {
	background: url("../img/diceRed.jpg") 0px 120px;
}

.defenceRolls div.value4 {
	background: url("../img/diceWhite.jpg") 0px 120px;
}

.attackRolls div.value5 {
	background: url("../img/diceRed.jpg") 243px 120px;
}

.defenceRolls div.value5 {
	background: url("../img/diceWhite.jpg") 243px 120px;
}

.attackRolls div.value6 {
	background: url("../img/diceRed.jpg") 120px 120px;
}

.defenceRolls div.value6 {
	background: url("../img/diceWhite.jpg") 120px 120px;
}

/* ALERT STYLING */

div#alertdiv {
    position: relative;
    width = 100%;
    top: -400px;
}