/* Contains the CSS for the Risk Game page */
#wrap {
	margin: 0 auto;
	padding-top: 130px;
}

#playerContainer {
	min-height: 12%;
}

#players div.player {
	text-align: center;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #fbfbfb 47%, #f7f7f7 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(47%, #fbfbfb), color-stop(100%, #f7f7f7));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #fbfbfb 47%, #f7f7f7 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #fbfbfb 47%, #f7f7f7 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #fbfbfb 47%, #f7f7f7 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #fbfbfb 47%, #f7f7f7 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
	endColorstr='#f7f7f7',
	GradientType=0); /* IE6-9 */
	border-bottom: 10px solid #CCC;
	height: 100%;
}

#players div.player h3 {
	line-height: 20px;
	margin-top: 3%;
}

/* PLAYER COLORS */
#players div.player1 {
	border-bottom-color: #a5d5a8;
}

#players div.player1.active {
	border-bottom-color: #38B00A;
}

#players div.player2 {
	border-bottom-color: #87AFC7;
}

#players div.player2.active {
	border-bottom-color: #126fc6;
}

#players div.player3 {
	border-bottom-color: #d5a5a5;
}

#players div.player3.active {
	border-bottom-color: #da0000;
}

#players div.player4 {
	border-bottom-color: #FFF68F;
}

#players div.player4.active {
	border-bottom-color: #FFF00A;
}

#players div.player5 {
	border-bottom-color: #947EC4;
}

#players div.player5.active {
	border-bottom-color: #7408BC;
}

#players div.player6 {
	border-bottom-color: #b6ebea;
}

#players div.player6.active {
	border-bottom-color: #00d7da;
}
/* MAP STYLES */
#map-container {
	overflow: scroll;
}

#map {
	margin-top: 20px;
	background: url('../img/riskmap.png');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	height: 618px;
	width: 1024px;
}

div.territory {
	position: relative;
	width: 0px;
	height: 0px;
}

div.territory form {
	height: 52px;
	width: 35px;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
}


div.territory form .territoryButton {
	height: 35px;
	min-width: 35px;
	margin: 25px 0px 0px 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #666;
	color: #FFF;
	text-shadow: #000 0px 0px 5px;
	font-weight: bold;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}



div.territory.player1 form {
	background: url('../img/greenPlayer.png');
}

div.territory.player1 form .territoryButton {
	background: #24c612;
}

div.territory.player2 form {
	background: url('../img/bluePlayer.png');
}

div.territory.player2 form .territoryButton {
	background: #126fc6;
}

div.territory.player3 form {
	background: url('../img/redPlayer.png');
}

div.territory.player3 form .territoryButton {
	background: #c61216;
}

div.territory.player4 form {
	background: url('../img/yellowPlayer.png');
}

div.territory.player4 form .territoryButton {
	background: #c6b312;
}

div.territory.player5 form {
	background: url('../img/purplePlayer.png');
}

div.territory.player5 form .territoryButton {
	background: #7e12c6;
}

div.territory.player6 form {
	background: url('../img/cyanPlayer.png');
}

div.territory.player6 form .territoryButton {
	background: #12c692;
}



/* SLIDER */
span.sliderContext {
	padding: 20px;
	font-weight: bold;
}

/* OPTION DIALOG */
input.optionBtn {
	width: 60%;
	margin-left: 20%;
}

/* ATTACK DIALOG */
#attackDialog form.cancelAttack,#fortifyDialog form.cancelAttack {
	display: inline;
}

#attackDialog .modal-footer,#fortifyDialog .modal-footer {
	margin-bottom: -20px;
}


/* ATTACK RESULTS */
h5#attackResultsMessage {
	float: left;
	font-size: 16px;
}

div.dice {
	padding: 0px 20px;
}

.dice div {
	width: 120px;
	height: 120px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: #888 0px 0px 5px;
	-webkit-box-shadow: #888 0px 0px 5px;
	-moz-box-shadow: #888 0px 0px 5px;
	margin: 10px;
	display: inline-block;
}

.attackRolls div.value1 {
	background: url("../img/diceRed.jpg");
}

.defenceRolls div.value1 {
	background: url("../img/diceWhite.jpg");
}

.attackRolls div.value2 {
	background: url("../img/diceRed.jpg") 50% 0px;
}

.defenceRolls div.value2 {
	background: url("../img/diceWhite.jpg") 50% 0px;
}

.attackRolls div.value3 {
	background: url("../img/diceRed.jpg") 100% 0px;
}

.defenceRolls div.value3 {
	background: url("../img/diceWhite.jpg") 100% 0px;
}

.attackRolls div.value4 {
	background: url("../img/diceRed.jpg") 0px 100%;
}

.defenceRolls div.value4 {
	background: url("../img/diceWhite.jpg") 0px 100%;
}

.attackRolls div.value5 {
	background: url("../img/diceRed.jpg") 50% 100%;
}

.defenceRolls div.value5 {
	background: url("../img/diceWhite.jpg") 50% 100%;
}

.attackRolls div.value6 {
	background: url("../img/diceRed.jpg") 100% 100%;
}

.defenceRolls div.value6 {
	background: url("../img/diceWhite.jpg") 100% 100%;
}

/* SIDEBAR */
#sidebar {
	height: 75%;
	position: fixed;
	z-index: 999;
	overflow-y: auto;
}

#sidebarPlaceHolder {
	position: absolute;
	top: 23%;
}