/* Contains the CSS for the Risk Game page */
#wrap {
	margin: 0 auto;
	padding-top: 130px;
}

/* SLIDER */
span.sliderContext {
	padding: 20px;
	font-weight: bold;
}

/* OPTION DIALOG */
input.optionBtn {
	width: 60%;
	margin-left: 20%;
}

/* ATTACK DIALOG */
#attackDialog form.cancelAttack,#fortifyDialog form.cancelAttack {
	display: inline;
}

#attackDialog .modal-footer,#fortifyDialog .modal-footer {
	margin-bottom: -20px;
}


/* ATTACK RESULTS */
h5#attackResultsMessage {
	float: left;
	font-size: 16px;
}

div.dice {
	padding: 0px 20px;
}

.dice div {
	width: 120px;
	height: 120px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: #888 0px 0px 5px;
	-webkit-box-shadow: #888 0px 0px 5px;
	-moz-box-shadow: #888 0px 0px 5px;
	margin: 10px;
	display: inline-block;
}

.attackRolls div.value1 {
	background: url("../img/diceRed.jpg");
}

.defenceRolls div.value1 {
	background: url("../img/diceWhite.jpg");
}

.attackRolls div.value2 {
	background: url("../img/diceRed.jpg") 50% 0px;
}

.defenceRolls div.value2 {
	background: url("../img/diceWhite.jpg") 50% 0px;
}

.attackRolls div.value3 {
	background: url("../img/diceRed.jpg") 100% 0px;
}

.defenceRolls div.value3 {
	background: url("../img/diceWhite.jpg") 100% 0px;
}

.attackRolls div.value4 {
	background: url("../img/diceRed.jpg") 0px 100%;
}

.defenceRolls div.value4 {
	background: url("../img/diceWhite.jpg") 0px 100%;
}

.attackRolls div.value5 {
	background: url("../img/diceRed.jpg") 50% 100%;
}

.defenceRolls div.value5 {
	background: url("../img/diceWhite.jpg") 50% 100%;
}

.attackRolls div.value6 {
	background: url("../img/diceRed.jpg") 100% 100%;
}

.defenceRolls div.value6 {
	background: url("../img/diceWhite.jpg") 100% 100%;
}

/* SIDEBAR */
#sidebar {
	height: 75%;
	position: fixed;
	z-index: 999;
	overflow-y: auto;
}

#sidebarPlaceHolder {
	position: absolute;
	top: 23%;
}