/*Contains the CSS for the Risk Login page (first page) */

body {

}
h1 {
	margin-bottom: 50px;
}

.prevSubmissionName {
	margin-bottom: 0;
}

input[type=text] {
    height: 30px;
}

#btnStart {
	margin-top: 50px;
	width: 200px;
}