/* This file still needs to be written. */
/*Will contain the CSS for the Risk Index page (first page) */

h1 {
	margin-bottom: 50px;
}

.prevSubmissionName {
	margin-bottom: 0;
}

.newSubmissionName input{
	height: 30px;
}

#btnStart {
	margin-top: 50px;
	width: 200px;
}