/* TERRITORY PLACING */
div.territory.territory1 {
	top: 8%;
	left: 5%;
}

div.territory.territory2 {
	top: 18%;
	left: 13%;
}

div.territory.territory3 {
	top: 40%;
	left: 19%;
}

div.territory.territory4 {
	top: 31%;
	left: 23%;
}

div.territory.territory5 {
	left: 40%;
}

div.territory.territory6 {
	top: 10%;
	left: 18%;
}

div.territory.territory7 {
	top: 20%;
	left: 23%;
}

div.territory.territory8 {
	top: 20%;
	left: 31%;
}

div.territory.territory9 {
	top: 29%;
	left: 14%;
}

div.territory.territory10 {
	top: 81%;
	left: 25%;
}

div.territory.territory11 {
	top: 65%;
	left: 31%;
}

div.territory.territory12 {
	top: 63%;
	left: 18%;
}

div.territory.territory13 {
	top: 52%;
	left: 19%;
}

div.territory.territory14 {
	top: 66%;
	left: 47%;
}

div.territory.territory15 {
	top: 57%;
	left: 53%;
}

div.territory.territory16 {
	top: 47%;
	left: 49%;
}

div.territory.territory17 {
	top: 78%;
	left: 56%;
}

div.territory.territory18 {
	top: 49%;
	left: 40%;
}

div.territory.territory19 {
	top: 79%;
	left: 47%;
}

div.territory.territory20 {
	top: 23%;
	left: 41%;
}

div.territory.territory21 {
	top: 14%;
	left: 40%;
}

div.territory.territory22 {
	top: 25%;
	left: 46%;
}

div.territory.territory23 {
	top: 11%;
	left: 49%;
}

div.territory.territory24 {
	top: 35%;
	left: 48%;
}

div.territory.territory25 {
	top: 16%;
	left: 57%;
}

div.territory.territory26 {
	top: 36%;
	left: 42%;
}

div.territory.territory27 {
	top: 32%;
	left: 63%;
}

div.territory.territory28 {
	top: 37%;
	left: 72%;
}

div.territory.territory29 {
	top: 43%;
	left: 66%;
}

div.territory.territory30 {
	top: 20%;
	left: 79%;
}

div.territory.territory31 {
	top: 36%;
	left: 88%;
}

div.territory.territory32 {
	top: 15%;
	left: 91%;
}

div.territory.territory33 {
	top: 45%;
	left: 58%;
}

div.territory.territory34 {
	top: 30%;
	left: 81%;
}

div.territory.territory35 {
	top: 52%;
	left: 75%;
}

div.territory.territory36 {
	top: 9%;
	left: 72%;
}

div.territory.territory37 {
	top: 19%;
	left: 66%;
}

div.territory.territory38 {
	top: 11%;
	left: 82%;
}

div.territory.territory39 {
	top: 81%;
	left: 89%;
}

div.territory.territory40 {
	top: 63%;
	left: 77%;
}

div.territory.territory41 {
	top: 65%;
	left: 91%;
}

div.territory.territory42 {
	top: 79%;
	left: 78%;
}